<!DOCTYPE html>
<html>
	<head>
		<title>Yelp Camp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 					crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 			crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,200;1,300&display=swap" rel="stylesheet">
		<link rel= "stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand nav-title" href="/"><img src='https://i.imgur.com/lRv6faK.png' width='30px' height='30px' class='d-inline-block align-top nav-logo' loading='lazy'>BriSound</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
            <a href="/campgrounds" class="nav-link">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <% if(!currentUser){ %>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                  <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                  <a href="/register" class="nav-link">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                  <a href="#" class="nav-link">Signed In As <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Logout</a>
                </li>
            <% } %>
        </ul>
      </div>
    </nav>
		
		
		
		
	<div class='container'>
		
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert"><%= error %></div>
		<% } %>
		
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>
	</div>
	
