<%- include("../partials/header") %>

<div class='container'>
	<div class='row'>

			<h1>
				Edit Comment
			</h1>
		<div class='new'>

			<form action='/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT' method='POST'>
				<div class='form-group'>
					<!-- <input class='form-control' type='text' name='comment[text]' placeholder='text'> -->
					<textarea class='form-control' type='text' name='comment[text]' value='<%= comment.text %>' rows='8'><%= comment.text %></textarea>
				</div>
				<button class='btn btn-lg btn-default btn-block btn-primary'>
					Submit
				</button>
			</form>

				<a class='goback' href='/campgrounds'>Go Back</a>
			
		</div>
	</div>
</div>

<%- include("../partials/footer") %>